.mask{
  width: 500px;
  height: 500px;
  background-color: blue;
  -webkit-mask-image: url('../img/snow.svg');
  -webkit-mask-size: 500px 500px;
  position: relative;
  top: -110vh;
  left: 36%;
}
.screen{
  width: 200vh;
  height: 100vh;

}
.corner, .corner2, .corner3, .corner4{
  width: 50vh;
  height:300px;
  position: relative;
  border: 2px dotted gray;
}
.corner{
  top:0;
  left:0
}
.corner2{
  top:-300px;
  left:151vh;
}
.corner3{
  top:0vh;
  left:0
}
.corner4{
  top:-300px;
  left:151vh;
}
.corner:hover ~ .mask { background-color: purple;}
.corner2:hover ~ .mask { background-color: cyan;}
.corner3:hover ~ .mask { background-color: lightgreen;}
.corner4:hover ~ .mask { background-color: pink;}
